{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-1">Загрузить изображение</h5>
            </div>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">Выберите фотографию</label>
                    <input type="file" name="file" id="file" class="form-control" accept="image/*" required>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}